.footer {
    background-color: #000;
    color: #fff;
    padding: 5px 40px;
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins', sans-serif;
  }

  .logo {
    font-size: 30px;
    font-weight: 800;
    display: flex;
    align-items: center;
  }

  .logo-purple {
    color: #8a2adf;
  }

  .logo-orange {
    color: #f98806;
  }

  .created-with {
    text-align: center;
    margin: 0;
  }

  .heart {
    color: #f98806;
    margin-left: 5px;
  }

  .social {
    text-align: right;
    margin-bottom: 5px;
  }

  .join-us {
    margin: 0 0 10px 0;
    color: #f98806;
  }

  .social-icons {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .icon {
    width: 40px;
    height: 40px;
    background-color: #8a2adf;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .icon img {
    width: 20px;
    height: 20px;
  }